<ion-content style="height: 100%; background-color: #DFEC46;">
  <ion-grid id ="container">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Estas buscant a...
            </ion-card-title>
          </ion-card-header>
            <ion-card-content>
              {{ otherDesc }}
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ seflCode }}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-item>
                <ion-label position="stacked">Introduce su codigo:</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <span id="time_left">00:00</span>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <span id="time_left">{{ distance }}</span>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
