<ion-content color = "secondary" style="height: 100%; background-color: #DFEC46;">
  <ion-grid id ="container">
    <ion-row>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title color="secondary">
              <ion-text color="secondary"> 
                Estas buscant a...
              </ion-text>

            </ion-card-title>
          </ion-card-header>
            <ion-card-content color="secondary">
              <ion-text color="secondary">
                {{ otherDesc }}
              </ion-text>

            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>
              <ion-text color="secondary">
                {{ seflCode }}
              </ion-text>

            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>
              <ion-item color="primary">
                <ion-label position="stacked" color="secondary">Introduce su codigo:</ion-label>
                <ion-input color="secondary" [(ngModel)] = "input"></ion-input>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card color="primary"> 
          <ion-card-header>
            <ion-card-title>
              <span id="time_left" color="secondary"> <ion-text color = "secondary">
                {{time}}
              </ion-text></span>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>
              <span id="time_left" color="secondary"> <ion-text color="secondary">
                {{ distance }}
              </ion-text></span>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color = "primary" (click) = "checkPerson()" >
          <ion-card-header>
            <ion-text color = "secondary">
              CHECK
            </ion-text>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
