<ion-content color = "secondary"  style="height: 100%; background-color: #DFEC46 !important;">
  <ion-grid id ="container">
    <ion-row>
      <ion-col class = "buttonText" >
        <ion-card color = "primary">
          <ion-card-header>
            <ion-card-title color = "secondary">
              <ion-text color = "secondary">
                Congratulations!!! You Win!
              </ion-text>
             
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col>
        <ion-card (click) = "goToHome()" color = "primary">
          <ion-card-header>
            <ion-card-title color = "secondary">
              <ion-text color = "secondary">Go Main Menu</ion-text>
              
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
