<ion-content style="height: 100%;">
  <ion-grid>
    <ion-row>
      <ion-card id ="container" class = "divDefault" (click) = "goToAboutYou()">
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col class = "buttonTex">
                  <ion-text color = "primary">   PLAY  </ion-text>

                </ion-col>
              </ion-row>
          </ion-grid>
        </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>


</ion-content>
