#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



.defaultTextColor{
  color: #DFEC46;
}

ion-content{
  --ion-background-color:#DFEC46;
}
ion-card {
  --background: #5B2E2E !important;

}
ion-text{
  --ion-text-color: red;
}


:root {
  /** primary **/
  --ion-color-primary: #5B2E2E;
  --ion-color-primary-rgb: 91, 46, 46
  --ion-color-primary-contrast: #DFEC46;
  --ion-color-primary-contrast-rgb: 223, 236, 70;
  --ion-color-primary-shade: #5B2E2E;
  --ion-color-primary-tint: #5B2E2E;
}